<h1>Editing directory</h1>

<%= render "form", directory: @directory %>

<br>

<div>
  <%= link_to "Show this directory", @directory %> |
  <%= link_to "Back to directories", directories_path %>
</div>
