<p style="color: green"><%= notice %></p>

<h1>Directories</h1>

<div id="directories">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @directories.each do |directory| %>
        <tr>
          <%= render directory %>
          <td>
            <%= link_to "Show", directory %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New directory", new_directory_path %>
